:root {
    --red: #dc4c3f;
    --light_gray: #fafafa;
    --gray: #e8e8e8;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Misc */

body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

div.full_container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: 10% auto / 20% 80%;
    grid-template-areas: 
    'he he'
    'sn sn'
    'as s1';

}

/* Header */

header.header {
    grid-area: he;
    background-color: var(--red);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    z-index: 2;
}

h1.header__title {
    color: white;
}

/* Aside */

aside.aside {
    grid-area: as;
    background-color: var(--light_gray);
    border-right: 2px solid var(--gray);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

aside.aside a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    margin: 0.5rem 0;
    transition: margin 0.3s ease;
}
aside.aside h3{
    margin: 0 0 0.5rem 1rem;
}

aside.aside a:hover {
    margin-left: 1rem;
} 

/* Bonus 1 */

section.bonus_1 {
    grid-area: s1;
    background-color: white;
    padding: 3rem 2rem 2rem;
    display: grid;
    grid-template: auto / repeat(6, auto); 
    justify-content: center;
    gap: 1rem;
}

section.bonus_1 h2 {
    grid-area: 1 / 1 / 1 / 8;
}

section.bonus_1 section {
    padding: 1rem;
    border-radius: 5px;
    transition: background-color 1s ease-in;
}

section.bonus_1 section.change_color {
    background-color: var(--gray);
}

/*  */

section.bonus_2_and_3 {
    grid-area: sn;
    display: grid;
    grid-template: 100% / 50% 50%;
}

/* Bonus 2 */

section.bonus_2, section.bonus_3 {
    width: 100%;
    border-bottom: 2px solid var(--gray);
    padding: 3rem;
}

section.bonus_2__input_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.generic_input {
    background-color: var(--gray);
    padding: 0.75rem 1rem;
    margin: 1rem 0 2rem;
}

input.generic_input:focus  {
    outline: none;
}

button.bonus_2__input_button, button.bonus_3__input_button {
  padding: 0.5rem 2rem;
}

section.bonus_2__results h3, section.bonus_3__results h3 {
    margin: 1rem 0;
}

section.bonus_2__results p, section.bonus_3__results p {
    padding: 0.5rem 1rem;
}

/* Bonus 3 */

section.bonus_3 {
    border-left: 2px solid var(--gray);
}